In [39]:
import matplotlib.pyplot as plt
import pandas as pd
import re
import datetime
import numpy as np

In [40]:
df_años = pd.read_csv("data/union_años.csv")
df_años.head()

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

In [41]:
df_puestos = pd.read_csv("data/puestos_empleados.csv")
df_puestos.head()

,Unnamed: 0,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Unnamed: 0.1,Puesto,Departamento,Tipo Puesto
0,0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,52,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com,12,Supervisor de Producción,PRODUCCION,Mandos Medios
2,2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com,90,Supervisor de Ingeniería de Calidad,INGENIERIA DE CALIDAD,Mandos Medios
3,3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com,12,Supervisor de Producción,PRODUCCION,Mandos Medios
4,4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com,87,Supervisor de Producción,MANTENIMIENTO,Mandos Medios

In [42]:
 patron = {"mes1": "Enero", "mes2":"Febrero", "mes3":"Marzo","mes4":"Abril","mes5":"Mayo", "mes6":"Junio", "mes7": "Julio", "mes8": "Agosto", "mes9":"septiembre", "mes10":"Octubre", "mes11":"Noviembre","mes12":"Diciembre"}

In [43]:
enero = "\d{4}-01-\d{2}"
febrero = "\d{4}-02-\d{2}"
marzo = "\d{4}-03-\d{2}"
abril = "\d{4}-04-\d{2}"
mayo = "\d{4}-05-\d{2}"
junio = "\d{4}-06-\d{2}"
julio = "\d{4}-07-\d{2}"
agosto = "\d{4}-08-\d{2}"
septiembre = "\d{4}-09-\d{2}"
octubre = "\d{4}-10-\d{2}"
noviembre = "\d{4}-11-\d{2}"
diciembre = "\d{4}-12-\d{2}"

In [44]:
mes1= "Enero"
mes2="Febrero"
mes3="Marzo"
mes4="Abril"
mes5="Mayo"
mes6="Junio"
mes7= "Julio"
mes8= "Agosto"
mes9="septiembre"
mes10="Octubre"
mes11="Noviembre"
mes12="Diciembre"

In [45]:
def sacar_mes(fecha):
    try:
        
        return fecha.split("-")[1]
    except:
        return np.nan

In [46]:
df_años["meses"] = (df_años["fecha"].apply(sacar_mes))

In [47]:
df_años

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,meses
0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,07
1,1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,05
2,2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,06
3,3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,04
4,4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,06
...,...,...,...,...,...,...,...,...,...,...,...,...
97493,29083,TWRTSR-8543883120,2020-02-22,1142.0,1.0,Sistema,Solicitud,3 - Mayor,1 - Baja,11.0,5.0,02
97494,29084,TWRTSR-8744097039,2020-09-23,223.0,40.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,09
97495,29085,TWRTSR-9643846768,2020-01-16,256.0,7.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,01
97496,29086,TWRTSR-9944138906,2020-11-03,1060.0,9.0,Sistema,Solicitud,1 - Menor,1 - Baja,9.0,5.0,11
97497,29087,TWRTST-8643986162,2020-06-04,1876.0,41.0,Sistema,Solicitud,1 - Menor,1 - Baja,6.0,4.0,06

In [66]:
"""
def cambio_meses(meses):
  
  for i in meses:
  
    if i == "01" :
      df_años["meses"].replace(to_replace = "01", value ="Enero", inplace = True)
      
    elif i == "02":
      df_años["meses"].replace(to_replace = "02", value ="Febrero", inplace = True)
      
    elif i == "07":
      df_años["meses"].replace(to_replace = "07", value ="Julio", inplace = True)
    
    else:
        pass
        """

In [75]:
def cambio_meses(meses):
  

  
    try:
      return df_años["meses"].replace({"01": "Enero", "02":"Febrero", "03":"Marzo","04":"Abril","05":"Mayo", "06":"Junio", "07": "Julio", "08": "Agosto", "09":"septiembre", "10":"Octubre", "11":"Noviembre","12":"Diciembre"}, inplace = True)
      
    except:
        return np.nan

In [64]:
# df_años["meses"].replace(to_replace = "02", value ="Febrero", inplace = True)

In [ ]:
# df_años["meses"].replace({"01": "Enero", "02":"Febrero", "03":"Marzo","04":"Abril","05":"Mayo", "06":"Junio", "07": "Julio", "08": "Agosto", "09":"septiembre", "10":"Octubre", "11":"Noviembre","12":"Diciembre"}, inplace = True)

In [76]:
df_años["mes"] = (df_años["meses"].apply(cambio_meses))

In [68]:
df_años

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,meses
0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,07
1,1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,05
2,2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,06
3,3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,04
4,4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,06
...,...,...,...,...,...,...,...,...,...,...,...,...
97493,29083,TWRTSR-8543883120,2020-02-22,1142.0,1.0,Sistema,Solicitud,3 - Mayor,1 - Baja,11.0,5.0,Febrero
97494,29084,TWRTSR-8744097039,2020-09-23,223.0,40.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,09
97495,29085,TWRTSR-9643846768,2020-01-16,256.0,7.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,Enero
97496,29086,TWRTSR-9944138906,2020-11-03,1060.0,9.0,Sistema,Solicitud,1 - Menor,1 - Baja,9.0,5.0,11
97497,29087,TWRTST-8643986162,2020-06-04,1876.0,41.0,Sistema,Solicitud,1 - Menor,1 - Baja,6.0,4.0,06

TypeError: 'float' object is not iterable

In [ ]:
type(df_años["meses"])

pandas.core.series.Series

In [69]:
df_años.dtypes

Unnamed: 0           int64
id_ticket           object
fecha               object
id_empleado        float64
id_agente          float64
categoría           object
tipo                object
severidad           object
prioridad           object
días_resolución    float64
satisfacción       float64
meses               object
dtype: object