In [2]:
import pandas as pd
import re

In [3]:
excel_2016 = pd.read_excel('data/2016.xlsx')
excel_2016.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

In [11]:
puestos = pd.read_excel('data/Puestos.xlsx')
puestos.head()

  ID Puesto                            Puesto Departamento     Tipo Puesto
0  10-23200           Ingeniero de Materiales   MATERIALES       Operativo
1  10-24111            Operador de Producción   MATERIALES       Operativo
2  10-25120               Auxiliar de compras   MATERIALES  Administrativo
3  10-25130                         Comprador   MATERIALES  Administrativo
4  10-32050  Supervisor General de Materiales   MATERIALES   Mandos Medios

In [4]:
agentes = pd.read_csv('data/Agentes.csv')
agentes.head()

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [5]:
empleados = pd.read_csv('data/Empleados.csv')
empleados.head()

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [6]:
def analisis_archivo (archivo):
    print(archivo.shape)
    print(archivo.head())
    print(archivo.describe().T)
    print(archivo.columns)
    print(archivo.sample(2))
    print(archivo.tail())
    print(archivo.info())
    return archivo

In [7]:
analisis_archivo(agentes)

(50, 4)
   ID Agente               Nombre                              email  \
0          1          Mata Lucero          lucero.mata@tractchun.com
1          2         JesusGrajeda        jesus.grajeda@tractchun.com
2          3          Elena Velez          elena.velez@tractchun.com
3          4      Barraza Alberto      alberto.barraza@tractchun.com
4          5  Willyberto Gonzales  willyberto.gonzales@tractchun.com

  Fecha de Nacimiento
0           1989/4/28
1            1979/1/1
2            1993/6/6
3          1978/10/20
4           1973/5/11
           count  mean       std  min    25%   50%    75%   max
ID Agente   50.0  25.5  14.57738  1.0  13.25  25.5  37.75  50.0
Index(['ID Agente', 'Nombre', 'email', 'Fecha de Nacimiento'], dtype='object')
    ID Agente   Nombre                          email Fecha de Nacimiento
21         22   Lorena      lorena.leon@tractchun.com           1996/7/16
34         35  Melinda  melinda.barcelo@tractchun.com           1996/5/30
    ID Agente           Nombre                          email  \
45         46      Rosa Olguin      rosa.olguin@tractchun.com
46         47  Yomaira Agudelo  yomaira.agudelo@tractchun.com
47         48   Aurelio Tanori   aurelio.tanori@tractchun.com
48         49   Armando Sierra   armando.sierra@tractchun.com
49         50     Ramon Macias     ramon.macias@tractchun.com

   Fecha de Nacimiento
45           1985/5/30
46          1974/12/15
47           1979/8/29
48            1991/4/5
49            1980/3/4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID Agente            50 non-null     int64
 1   Nombre               50 non-null     object
 2   email                50 non-null     object
 3   Fecha de Nacimiento  50 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB
None

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11
5,6,A. Trejo,alberto.trejo@tractchun.com,1988/3/9
6,7,Estuardo Ocaño,estuardo.ocaño@tractchun.com,1980/9/23
7,8,Marisol Piedrahita,marisol.piedrahita@tractchun.com,1993/10/28
8,9,Velasquez Jose,jose.velasquez@tractchun.com,1981/1/9
9,10,Alberto Casillas,alberto.casillas@tractchun.com,1993/2/1
10,11,Lopez Moran.,lopez.moran@tractchun.com,1980/4/21
11,12,Javier D.,javier.davila@tractchun.com,1976/5/22
12,13,Griselda Galindo,griselda.galindo@tractchun.com,1996/2/3
13,14,EstuardoTorres,estuardo.torres@tractchun.com,1995/12/21
14,15,Galindo Guadalupe,guadalupe.galindo@tractchun.com,1995/6/16
15,16,Orci Carlos,carlos.orci@tractchun.com,1982/10/26
16,17,Leon Lourdes,lourdes.leon@tractchun.com,1971/12/28
17,18,Miller Gaviria,miller.gaviria@tractchun.com,1980/10/9
18,19,Alfonso Barraza,alfonso.barraza@tractchun.com,1990/5/13
19,20,Eduardo Luna,eduardo.luna@tractchun.com,1983/11/22
20,21,Alberto Gastelum,alberto.gastelum@tractchun.com,1996/10/10
21,22,Lorena,lorena.leon@tractchun.com,1996/7/16
22,23,Guadalupe Hernandez,guadalupe.hernandez@tractchun.com,1986/6/12
23,24,Barbara Grijalva,barbara.grijalva@tractchun.com,1972/6/5
24,25,Sandra Lujan,sandra.lujan@tractchun.com,1988/11/17
25,26,Flores Sierra,flores.sierra@tractchun.com,1982/3/15
26,27,Isela Leyva,isela.leyva@tractchun.com,1987/4/18
27,28,Nurio Zepeda,nurio.zepeda@tractchun.com,1982/4/4
28,29,Segura Garcia,segura.garcia@tractchun.com,1972/11/14
29,30,Parra Luna,parra.luna@tractchun.com,1995/6/17
30,31,Guadalupe Torrico,guadalupe.torrico@tractchun.com,1993/3/18
31,32,Silvia Morales,silvia.morales@tractchun.com,1980/6/16
32,33,Guadalupe Villanueva,guadalupe.villanueva@tractchun.com,1975/1/15
33,34,Diana Rojo,diana.rojo@tractchun.com,1996/3/9
34,35,Melinda,melinda.barcelo@tractchun.com,1996/5/30
35,36,Luis Torres,luis.torres@tractchun.com,1982/7/18
36,37,Jesus Pacheco,jesus.pacheco@tractchun.com,1980/6/15
37,38,Enrique Montiel,enrique.montiel@tractchun.com,1985/2/27
38,39,Jesus Contreras,jesus.contreras@tractchun.com,1983/10/20
39,40,Alfredo Barreras,alfredo.barreras@tractchun.com,1974/10/19
40,41,Aldo Carrillo,aldo.carrillo@tractchun.com,1982/8/1
41,42,Darwin E.,darwin.echeverry@tractchun.com,1991/7/16
42,43,Reyna Santacruz,reyna.santacruz@tractchun.com,1984/6/7
43,44,Eva Cardenas,eva.cardenas@tractchun.com,1987/10/4
44,45,Luis Arguello,luis.arguello@tractchun.com,1982/9/22
45,46,Rosa Olguin,rosa.olguin@tractchun.com,1985/5/30
46,47,Yomaira Agudelo,yomaira.agudelo@tractchun.com,1974/12/15
47,48,Aurelio Tanori,aurelio.tanori@tractchun.com,1979/8/29
48,49,Armando Sierra,armando.sierra@tractchun.com,1991/4/5
49,50,Ramon Macias,ramon.macias@tractchun.com,1980/3/4

In [8]:
analisis_archivo(empleados)

(2000, 6)
  Turno  ID Empleado Apellido     Nombre ID Puesto  \
0     A            6    VILLA      JESUS  50-32200
1   NaN           10   MENDEZ    RICARDO  15-24100
2   NaN           21  HEREDIA  GUADALUPE  90-14000
3   NaN           27    DURAN    DESSENS  15-24100
4   NaN           29   LAGUNA   FEDERICO  80-24100

                             Email
0        jesus.villa@tractchun.com
1     ricardo.mendez@tractchun.com
2  guadalupe.heredia@tractchun.com
3      dessens.duran@tractchun.com
4    federico.laguna@tractchun.com
              count    mean         std  min     25%     50%      75%     max
ID Empleado  2000.0  1000.5  577.494589  1.0  500.75  1000.5  1500.25  2000.0
Index(['Turno', 'ID Empleado', 'Apellido', 'Nombre', 'ID Puesto', 'Email'], dtype='object')
     Turno  ID Empleado   Apellido   Nombre ID Puesto  \
1117   NaN          260     ROMERO  ALBERTO  70-21110
110    NaN          661  MOROYOQUI   RIVERA  55-23200

                               Email
1117    alberto.romero@tractchun.com
110   rivera.moroyoqui@tractchun.com
     Turno  ID Empleado  Apellido     Nombre ID Puesto  \
1995   NaN         1903     RAMOS       JOSE  55-23200
1996   NaN         1904      RUIZ  GUADALUPE  80-22220
1997   NaN         1935    ZEPEDA  FRANCISCO  15-24100
1998   NaN         1953    ROBLES  ELIZABETH  15-24100
1999   NaN         1993  ENRIQUEZ  HERCULANO  45-11000

                                 Email
1995          jose.ramos@tractchun.com
1996      guadalupe.ruiz@tractchun.com
1997    francisco.zepeda@tractchun.com
1998    elizabeth.robles@tractchun.com
1999  herculano.enriquez@tractchun.com
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Turno        8 non-null      object
 1   ID Empleado  2000 non-null   int64
 2   Apellido     2000 non-null   object
 3   Nombre       2000 non-null   object
 4   ID Puesto    2000 non-null   object
 5   Email        2000 non-null   object
dtypes: int64(1), object(5)
memory usage: 93.9+ KB
None

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com
...,...,...,...,...,...,...
1995,NaN,1903,RAMOS,JOSE,55-23200,jose.ramos@tractchun.com
1996,NaN,1904,RUIZ,GUADALUPE,80-22220,guadalupe.ruiz@tractchun.com
1997,NaN,1935,ZEPEDA,FRANCISCO,15-24100,francisco.zepeda@tractchun.com
1998,NaN,1953,ROBLES,ELIZABETH,15-24100,elizabeth.robles@tractchun.com
1999,NaN,1993,ENRIQUEZ,HERCULANO,45-11000,herculano.enriquez@tractchun.com

In [12]:
analisis_archivo(puestos)

(97, 4)
  ID Puesto                            Puesto Departamento     Tipo Puesto
0  10-23200           Ingeniero de Materiales   MATERIALES       Operativo
1  10-24111            Operador de Producción   MATERIALES       Operativo
2  10-25120               Auxiliar de compras   MATERIALES  Administrativo
3  10-25130                         Comprador   MATERIALES  Administrativo
4  10-32050  Supervisor General de Materiales   MATERIALES   Mandos Medios
             count unique                       top freq
ID Puesto       97     97                  10-23200    1
Puesto          97     78  Auxiliar de Departamento    3
Departamento    97     11             MANTENIMIENTO   17
Tipo Puesto     97      4             Mandos Medios   38
Index(['ID Puesto', 'Puesto', 'Departamento', 'Tipo Puesto'], dtype='object')
   ID Puesto                                  Puesto           Departamento  \
42  40-43000                        Contador General           CONTABILIDAD
48  45-11200  Inspectora de Aseguramiento de Calidad  INGENIERIA DE CALIDAD

      Tipo Puesto
42  Mandos Medios
48      Operativo
   ID Puesto                            Puesto           Departamento  \
92  90-14110                Tecnico de Calidad  INGENIERIA DE CALIDAD
93  90-18000  Gerente de Ingenieria de Calidad  INGENIERIA DE CALIDAD
94  90-23200          Ingeniero de Manufactura  INGENIERIA DE CALIDAD
95  90-24100          Supervisor de Producción  INGENIERIA DE CALIDAD
96  90-26100                  Clerk de Copiado  INGENIERIA DE CALIDAD

       Tipo Puesto
92       Operativo
93        Gerencia
94       Operativo
95   Mandos Medios
96  Administrativo
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID Puesto     97 non-null     object
 1   Puesto        97 non-null     object
 2   Departamento  97 non-null     object
 3   Tipo Puesto   97 non-null     object
dtypes: object(4)
memory usage: 3.2+ KB
None

,ID Puesto,Puesto,Departamento,Tipo Puesto
0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo
1,10-24111,Operador de Producción,MATERIALES,Operativo
2,10-25120,Auxiliar de compras,MATERIALES,Administrativo
3,10-25130,Comprador,MATERIALES,Administrativo
4,10-32050,Supervisor General de Materiales,MATERIALES,Mandos Medios
...,...,...,...,...
92,90-14110,Tecnico de Calidad,INGENIERIA DE CALIDAD,Operativo
93,90-18000,Gerente de Ingenieria de Calidad,INGENIERIA DE CALIDAD,Gerencia
94,90-23200,Ingeniero de Manufactura,INGENIERIA DE CALIDAD,Operativo
95,90-24100,Supervisor de Producción,INGENIERIA DE CALIDAD,Mandos Medios
96,90-26100,Clerk de Copiado,INGENIERIA DE CALIDAD,Administrativo

In [13]:
analisis_archivo(excel_2016)

(13051, 12)
           ID Ticket      Fecha  ID Empleado  ID Agente      Categoría  \
0  GDDENR-5042564453 2016-07-13       1735.0        4.0  Acceso&%Login
1  GDDENR-8042508060 2016-05-18       1566.0       10.0  Acceso&%Login
2  GDDESR-1342539995 2016-06-18        569.0       29.0        Sistema
3  GDDTSR-5942488006 2016-04-28        320.0       40.0        Sistema
4  GDLEER-0042524120 2016-06-03       1842.0       31.0       Software

        Tipo           Severidad        Prioridad  Días Resolución  \
0   Problema  0 - Sin Clasificar  0 - Sin Asignar              0.0
1   Problema  0 - Sin Clasificar  0 - Sin Asignar              0.0
2   Problema  0 - Sin Clasificar  0 - Sin Asignar              3.0
3  Solicitud  0 - Sin Clasificar  0 - Sin Asignar              9.0
4   Problema          2 - Normal  0 - Sin Asignar              0.0

   Satisfacción               Web  Índice
0           5.0  www.tractchun.es      1.0
1           5.0  www.tractchun.es      1.0
2           5.0  www.tractchun.es      1.0
3           5.0  www.tractchun.es      1.0
4           5.0  www.tractchun.es      1.0
                   count        mean         std  min    25%    50%     75%  \
ID Empleado      13049.0  999.737988  580.422512  1.0  499.0  995.0  1505.0
ID Agente        13050.0   25.425134   14.363362  1.0   13.0   26.0    38.0
Días Resolución  13049.0    4.551843    4.352681  0.0    0.0    4.0     7.0
Satisfacción     13037.0    3.979673    1.326657  1.0    4.0    4.0     5.0
Índice           13038.0    1.000000    0.000000  1.0    1.0    1.0     1.0

                    max
ID Empleado      2000.0
ID Agente          50.0
Días Resolución    21.0
Satisfacción        5.0
Índice              1.0
Index(['ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categoría', 'Tipo',
       'Severidad', 'Prioridad', 'Días Resolución', 'Satisfacción', 'Web',
       'Índice '],
      dtype='object')
               ID Ticket      Fecha  ID Empleado  ID Agente Categoría  \
11309  THLEER-2142493233 2016-05-03         13.0       12.0  Software
7263   KWLESR-2442595022 2016-08-13         12.0       20.0   Sistema

           Tipo   Severidad Prioridad  Días Resolución  Satisfacción  \
11309  Problema  2 - Normal  3 - Alta              1.0           4.0
7263   Problema  2 - Normal  1 - Baja              4.0           1.0

                    Web  Índice
11309  www.tractchun.es      1.0
7263   www.tractchun.es      1.0
               ID Ticket      Fecha  ID Empleado  ID Agente Categoría  \
13046  TWRTSR-6442574526 2016-07-23        962.0       25.0   Sistema
13047  TWRTSR-7142570866 2016-07-19        126.0       38.0   Sistema
13048  TWRTSR-7742498308 2016-05-08        510.0        3.0   Sistema
13049  TWRTSR-8642558628 2016-07-07       1942.0       26.0   Sistema
13050  TWRTSR-8742628897 2016-09-15        919.0        8.0   Sistema

            Tipo  Severidad Prioridad  Días Resolución  Satisfacción  \
13046  Solicitud  1 - Menor  1 - Baja             14.0           4.0
13047  Solicitud  3 - Mayor  1 - Baja             13.0           5.0
13048  Solicitud  3 - Mayor  1 - Baja              2.0           5.0
13049  Solicitud  1 - Menor  1 - Baja             16.0           4.0
13050  Solicitud  1 - Menor  1 - Baja              7.0           4.0

                    Web  Índice
13046  www.tractchun.es      1.0
13047  www.tractchun.es      1.0
13048  www.tractchun.es      1.0
13049  www.tractchun.es      1.0
13050  www.tractchun.es      1.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13051 entries, 0 to 13050
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID Ticket        13050 non-null  object
 1   Fecha            13025 non-null  datetime64[ns]
 2   ID Empleado      13049 non-null  float64
 3   ID Agente        13050 non-null  float64
 4   Categoría        13038 non-null  object
 5   Tipo             13050 non-null  object
 6   Severidad        13025 non-null  object
 7   Prioridad        13025 non-null  object
 8   Días Resolución  13049 non-null  float64
 9   Satisfacción     13037 non-null  float64
 10  Web              13024 non-null  object
 11  Índice           13038 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 1.2+ MB
None

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0,www.tractchun.es,1.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,www.tractchun.es,1.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0,www.tractchun.es,1.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0,www.tractchun.es,1.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,www.tractchun.es,1.0

In [16]:
# Pasamos las columnas a minúsculas:
excel_2016.rename(columns = {col :  col.lower().replace(" ", "_") for col in excel_2016.columns} , inplace = True)

In [17]:
excel_2016

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,web,índice_
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0,www.tractchun.es,1.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,www.tractchun.es,1.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0,www.tractchun.es,1.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0,www.tractchun.es,1.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,www.tractchun.es,1.0

In [18]:
#excel_2016.drop( [10,12] , axis =1)

df_eliminar2 = excel_2016.drop(["web"], axis = 1)
df_eliminar2

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,índice_
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0,1.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,1.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0,1.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0,1.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,1.0

In [22]:
excel_2016.set_index(["id ticket"], inplace= True)

In [23]:
excel_2016

,fecha,id empleado,id agente,categoría,tipo,severidad,prioridad,días resolución,satisfacción,web,índice
id ticket,,,,,,,,,,,
GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
...,...,...,...,...,...,...,...,...,...,...,...
TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0,www.tractchun.es,1.0
TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,www.tractchun.es,1.0
TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0,www.tractchun.es,1.0
TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0,www.tractchun.es,1.0
TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,www.tractchun.es,1.0

In [17]:
# El ejercicio para eliminar la comunma índice está correcta pero nos da fallos al llamar a dicha columna:

df_eliminar2 = excel_2016.drop(["índice"], axis = 1)
df_eliminar2

KeyError: "['índice'] not found in axis"

In [24]:
excel_2016.to_csv("data/2016.csv")

In [25]:
puestos.to_csv("data/puestos.csv")