In [2]:
import pandas as pd
import numpy as np
import os

Ejercicio 1

In [3]:
documento_csv = pd.read_csv('data/quejas.csv', sep = ';',  encoding = 'latin-1')

In [4]:
documento_csv

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
...,...,...,...,...,...,...,...,...,...
4494,Sugerencia,Cancelada,INTERNET,2022-01-02 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",NaN,OTROS,OTROS
4495,Sugerencia,Rechazada por SGAC,INTERNET,2022-03-08 00:00:00,NaN,NaN,NaN,OTROS,Sin valor
4496,Queja,Rechazada por SGAC,INTERNET,2022-01-24 00:00:00,NaN,NaN,NaN,OTROS,Sin valor
4497,Queja,Rechazada por SGAC,INTERNET,2022-01-21 00:00:00,NaN,NaN,NaN,OTROS,Sin valor
4498,Queja,Rechazada por SGAC,INTERNET,2022-01-21 00:00:00,NaN,NaN,NaN,OTROS,Sin valor

In [5]:
df_sugerencias = documento_csv.loc[documento_csv['tipo'] == 'Sugerencia']

In [6]:
df_sugerencias

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
5,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-08 00:00:00,2022-03-14 00:00:00,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
7,Sugerencia,Contestada al Ciudadano,INTERNET,2022-01-24 00:00:00,2022-02-01 00:00:00,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
34,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-28 00:00:00,2022-03-31 00:00:00,"Consejería de Educación, Universidades, Cienci...",Dirección del Área Territorial de Madrid Capital,EDUCACIÓN,CENTROS EDUCATIVOS
37,Sugerencia,Contestada al Ciudadano,INTERNET,2022-01-10 00:00:00,2022-01-12 00:00:00,"Consejería de Educación, Universidades, Cienci...",Dirección General de Educación Infantil Y Prim...,EDUCACIÓN,CENTROS EDUCATIVOS
40,Sugerencia,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Educación, Universidades, Cienci...",Dirección del Área Territorial de Madrid-Sur,EDUCACIÓN,CENTROS EDUCATIVOS
...,...,...,...,...,...,...,...,...,...
4460,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-14 00:00:00,2022-03-16 00:00:00,"Consejería de Economía, Hacienda y Empleo",Dirección General de Función Pública,OTROS,FUNCIÓN PÚBLICA
4479,Sugerencia,Enviada a Otra Administración,INTERNET,2022-03-03 00:00:00,NaN,"Consejería de Cultura, Turismo y Deporte",NaN,OTROS,OTROS
4480,Sugerencia,Enviada a Otra Administración,INTERNET,2022-03-08 00:00:00,NaN,NaN,NaN,OTROS,OTROS
4494,Sugerencia,Cancelada,INTERNET,2022-01-02 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",NaN,OTROS,OTROS
4495,Sugerencia,Rechazada por SGAC,INTERNET,2022-03-08 00:00:00,NaN,NaN,NaN,OTROS,Sin valor

In [7]:
df_queja_presencial = documento_csv[(documento_csv.tipo == 'Queja') & (documento_csv.canal_entrada == 'PRESENCIAL')]
df_queja_presencial

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
45,Queja,Cancelada,PRESENCIAL,2022-01-31 00:00:00,NaN,"Consejería de Educación, Universidades, Cienci...",Dirección General de Recursos Humanos,EDUCACIÓN,CENTROS EDUCATIVOS
197,Queja,Contestada al Ciudadano,PRESENCIAL,2022-02-17 00:00:00,2022-02-23 00:00:00,"Consejería de Educación, Universidades, Cienci...",Dirección del Área Territorial de Madrid-Este,EDUCACIÓN,SECUNDARIA OBLIGATORIA Y BACHILLERATO
420,Queja,Contestada al Ciudadano,PRESENCIAL,2022-02-14 00:00:00,2022-02-15 00:00:00,"Consejería de Cultura, Turismo y Deporte",Dirección General de Promoción Cultural,CULTURA,CENTROS CULTURALES
421,Queja,Contestada al Ciudadano,PRESENCIAL,2022-02-11 00:00:00,2022-02-11 00:00:00,"Consejería de Cultura, Turismo y Deporte",Dirección General de Promoción Cultural,CULTURA,CENTROS CULTURALES
422,Queja,Contestada al Ciudadano,PRESENCIAL,2022-02-14 00:00:00,2022-02-15 00:00:00,"Consejería de Cultura, Turismo y Deporte",Dirección General de Promoción Cultural,CULTURA,CENTROS CULTURALES
...,...,...,...,...,...,...,...,...,...
4323,Queja,Recepcionada por Unidad,PRESENCIAL,2022-01-17 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",Agencia de Vivienda Social,VIVIENDA,VIVIENDAS DEL IVIMA
4336,Queja,Recepcionada por Unidad,PRESENCIAL,2022-02-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",Agencia de Vivienda Social,VIVIENDA,VIVIENDAS DEL IVIMA
4412,Queja,Contestada al Ciudadano,PRESENCIAL,2022-02-07 00:00:00,2022-02-10 00:00:00,"Consejería de Economía, Hacienda y Empleo",Dirección General de Comercio y Consumo,CONSUMO,NaN
4455,Queja,Contestada al Ciudadano,PRESENCIAL,2022-03-10 00:00:00,2022-03-18 00:00:00,"Consejería de Presidencia, Justicia e Interior",Dirección General de Justicia,OTROS,FUNCIÓN PÚBLICA
4465,Queja,Enviada a Otra Administración,PRESENCIAL,2022-01-17 00:00:00,NaN,NaN,NaN,OTROS,OTROS

In [8]:
df_queja_presencial.iloc[:,3:5]

            fecha_entrada   fecha_contestacion
45    2022-01-31 00:00:00                  NaN
197   2022-02-17 00:00:00  2022-02-23 00:00:00
420   2022-02-14 00:00:00  2022-02-15 00:00:00
421   2022-02-11 00:00:00  2022-02-11 00:00:00
422   2022-02-14 00:00:00  2022-02-15 00:00:00
...                   ...                  ...
4323  2022-01-17 00:00:00                  NaN
4336  2022-02-23 00:00:00                  NaN
4412  2022-02-07 00:00:00  2022-02-10 00:00:00
4455  2022-03-10 00:00:00  2022-03-18 00:00:00
4465  2022-01-17 00:00:00                  NaN

[726 rows x 2 columns]

Ejercicio 2

In [12]:
df_clipboard = pd.read_clipboard()
df_clipboard

,,,Marzo,Abril,Mayo,Junio,​​Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
,Enero,Febrero,,,,,,,,,,
Temperatura media (°C),4.8,6,9.2,12.2,16.7,22.8,26,25.6,20.9,15.1,8.6,5.5
Temperatura min. (°C),0.9,1.4,3.8,6.4,10.3,15.7,18.8,18.5,14.8,10.2,4.7,1.8
Temperatura máx. (°C),9.5,11.4,15,17.9,22.6,29,32.4,31.9,26.8,20.3,13.2,10.1
Precipitación (mm),41,34,40,47,39,16,6,8,22,61,55,46
Humedad(%),77%,69%,60%,57%,48%,35%,28%,30%,41%,60%,72%,77%
Días lluviosos (días),5,4,4,6,5,3,1,2,3,5,5,5
Horas de sol (horas),5.7,6.8,8.1,9.4,11.5,13.0,13.1,12.1,10.4,7.8,6.1,5.7

In [21]:
df_clipboard.reset_index(inplace = True)

In [22]:
df_clipboard

,,Enero,Febrero,Marzo,Abril,Mayo,Junio,​​Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,Temperatura media (°C),4.8,6,9.2,12.2,16.7,22.8,26,25.6,20.9,15.1,8.6,5.5
1,Temperatura min. (°C),0.9,1.4,3.8,6.4,10.3,15.7,18.8,18.5,14.8,10.2,4.7,1.8
2,Temperatura máx. (°C),9.5,11.4,15,17.9,22.6,29,32.4,31.9,26.8,20.3,13.2,10.1
3,Precipitación (mm),41,34,40,47,39,16,6,8,22,61,55,46
4,Humedad(%),77%,69%,60%,57%,48%,35%,28%,30%,41%,60%,72%,77%
5,Días lluviosos (días),5,4,4,6,5,3,1,2,3,5,5,5
6,Horas de sol (horas),5.7,6.8,8.1,9.4,11.5,13.0,13.1,12.1,10.4,7.8,6.1,5.7

In [28]:
df_clipboard.iloc[1:3, 2:3]

  Febrero
1     1.4
2    11.4

In [37]:
df_clipboard.loc['6	Horas de sol (horas)', 'Julio	']

KeyError: 'Julio\t'

No es posible conseguir la información con LOC porque no detecta correctamente el nombre de las filas y columnas. Lo probamos con ILOC:

In [32]:
df_clipboard.iloc[6:7, 7:8]

  ​​Julio
6    13.1

In [38]:
df_clipboard.iloc[3:5, 9:10]

  Septiembre
3         22
4        41%

In [39]:
df_clipboard['Años'] = '1991-2021'

In [40]:
df_clipboard

,,Enero,Febrero,Marzo,Abril,Mayo,Junio,​​Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre,Años
0,Temperatura media (°C),4.8,6,9.2,12.2,16.7,22.8,26,25.6,20.9,15.1,8.6,5.5,1991-2021
1,Temperatura min. (°C),0.9,1.4,3.8,6.4,10.3,15.7,18.8,18.5,14.8,10.2,4.7,1.8,1991-2021
2,Temperatura máx. (°C),9.5,11.4,15,17.9,22.6,29,32.4,31.9,26.8,20.3,13.2,10.1,1991-2021
3,Precipitación (mm),41,34,40,47,39,16,6,8,22,61,55,46,1991-2021
4,Humedad(%),77%,69%,60%,57%,48%,35%,28%,30%,41%,60%,72%,77%,1991-2021
5,Días lluviosos (días),5,4,4,6,5,3,1,2,3,5,5,5,1991-2021
6,Horas de sol (horas),5.7,6.8,8.1,9.4,11.5,13.0,13.1,12.1,10.4,7.8,6.1,5.7,1991-2021

In [41]:
df_clipboard.to_csv('data/clipboard_csv.csv')

In [42]:
df_clipboard.to_excel('data/clipboard_excel.xlsx')