In [1]:
import pandas as pd

In [4]:
excel_2016 = pd.read_excel('data/2016.xlsx')
excel_2016.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

In [7]:
puestos = pd.read_excel('data/Puestos.xlsx')
puestos.head()

  ID Puesto                            Puesto Departamento     Tipo Puesto
0  10-23200           Ingeniero de Materiales   MATERIALES       Operativo
1  10-24111            Operador de Producción   MATERIALES       Operativo
2  10-25120               Auxiliar de compras   MATERIALES  Administrativo
3  10-25130                         Comprador   MATERIALES  Administrativo
4  10-32050  Supervisor General de Materiales   MATERIALES   Mandos Medios

In [5]:
agentes = pd.read_csv('data/Agentes.csv')
agentes.head()

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [6]:
empleados = pd.read_csv('data/Empleados.csv')
empleados.head()

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [9]:
excel_2016.shape

(13051, 12)

In [10]:
puestos.shape

(97, 4)

In [11]:
empleados.shape

(2000, 6)

------------

In [12]:
agentes.shape

(50, 4)

In [16]:
agentes.head()

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [15]:
agentes.tail()

,ID Agente,Nombre,email,Fecha de Nacimiento
45,46,Rosa Olguin,rosa.olguin@tractchun.com,1985/5/30
46,47,Yomaira Agudelo,yomaira.agudelo@tractchun.com,1974/12/15
47,48,Aurelio Tanori,aurelio.tanori@tractchun.com,1979/8/29
48,49,Armando Sierra,armando.sierra@tractchun.com,1991/4/5
49,50,Ramon Macias,ramon.macias@tractchun.com,1980/3/4

In [17]:
agentes.sample(2)

    ID Agente         Nombre                        email Fecha de Nacimiento
45         46    Rosa Olguin    rosa.olguin@tractchun.com           1985/5/30
28         29  Segura Garcia  segura.garcia@tractchun.com          1972/11/14

In [19]:
agentes.columns

Index(['ID Agente', 'Nombre', 'email', 'Fecha de Nacimiento'], dtype='object')

In [21]:
agentes.describe().T

           count  mean       std  min    25%   50%    75%   max
ID Agente   50.0  25.5  14.57738  1.0  13.25  25.5  37.75  50.0